@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Poppins:ital,wght@0,200;1,400&family=Roboto+Slab:wght@300&display=swap");

/* basic CSS */
:root {
  --body:rgb(32, 39, 47);
  --headline: rgb(21, 25, 31);
  --highlight:#bea807;
  --text:white;
}
body {
  background-color: var(--body);
  color:var(--text);
  font-family: "Poppins", sans-serif;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/* style for nav bar */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 100vw;
  background-color: var(--headline);
}

.left {
  font-size: 1.7rem;
  font-weight: bold;
}
.left:hover {
  color: var(--highlight);
}
nav {
  position: sticky;
}
nav ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  margin: 0 23px;
}
nav ul li a {
  text-decoration: none;
  color: var(--text);
}

nav ul li a:hover {
  color: var(--highlight);
  font-size: 1.02rem;
}
/* nav bar end */

/* scrollup icon */
.icon img {
  width: 50px;
  height: auto;
  position: fixed;
  right: 0px;
  top: 640px;
}

/* style for home section */
.firstsection {
  display: flex;
  justify-content: space-around;
  margin: 23px 0;
}

.firstsection > div {
  width: 30%;
}

.leftSection {
  font-size: 2.5rem;
  border-radius: 40px;
  margin: 70px 0;
  width: 70vw;

  align-items: center;
}
.rightSection {
  height: 90%;
}

.rightSection img {
  width: 100%;
  height: 50%;
  border-radius: 50px;
}

.btn {
  background-color: var(--headline);
  border-radius: 15px;
  border: 2px solid var(--text);
  color:var(--text);
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
  margin: 10px;
}
.btn a {
  text-decoration: none;
  color: var(--text);
}
.btn a:hover {
  color:var(--highlight);
  font-size: 22px;
}

.btn:hover {
  color: var(--highlight);
  font-size: 22px;
}

.panoo {
  color: var(--highlight);
}

#element {
  color:var(--highlight);
}
/* Home ssection end */

/* style for About section */

.secondsection {
  margin: 10px;
}

h2 {
  height: 40px;
  background-color: var(--headline);
  text-align: center;
  padding: 10px;
  color:var(--highlight);
  font-size: 1.7em;
}
.about {
  width: 100%;
  padding: 35px 1%;
}
.imgsection {
  grid-area: imageSect;
}

.info {
  grid-area: infoSect;
}
.skillsection {
  grid-area: skillSect;
}

.about .content1 {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-gap: 70px;
  grid-template-areas:
    "imageSect infoSect "
    "skillSect skillSect ";
}

.imgsection {
  position: relative;
  min-width: 300px;
  height: 300px;
}

.imgsection img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.info h3 {
  font-size: 20px;
  font-weight: 600;
  color: var(--highlight);
  padding: 14px 0px 15px;
  text-transform: capitalize;
  letter-spacing: 1px;
}
.info p {
  font-size: 18px;
  line-height: 1.2;
  text-align: start;
  padding-bottom: 8px;
}

.skillsection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px 40px;
}

.skillsection .subject {
  font-size: 17px;
  font-weight: bold;
  color: var(--highlight);
  padding-bottom: 10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: left;
  margin: 0px 20px 0px 60%;
}

.progress_bar {
  width: 80%;
  height: 12px;
  background-color:var(--headline);
  padding: 4px 6px;
  border-top: 1px solid rgb(161, 167, 176);
  border-bottom: 1px solid rgb(154, 157, 160);
  border-radius: 15px;
}

.progress_line {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: rgb(154, 157, 160);
  box-shadow: -1px -1px 2px #222222, 1px 1px 2px #111111;
  border-radius: 15px;
}

.progress_line::after {
  position: absolute;
  content: attr(value);
  top: -25px;
  right: 0px;
  transform: translateX(-50%);
  color: rgb(154, 157, 160);
  font-size: 12px;
}
/* about section ends */

/* style for cartificate section */

.crt {
  display: flex;
  justify-content: center;
  border: 2px solid white;
  height: 33px;
  background-color: rgba(21, 25, 31, 0.432);
  width: 50vw;
  margin: 23px auto;
  text-align: center;
  cursor: pointer;
  font-size: 17px;
  border-radius: 5px;
}

.name {
  text-align: center;
  text-decoration: underline darkgoldenrod;
  font-size: 23px;
}

#cr1:hover {
  background-image: url(photos/cr3.png);
  background-size: 50vw 450px;
  background-repeat: no-repeat;
  height: 450px;
  color: black;
}

#cr2:hover {
  background-image: url(photos/cr7.png);
  background-size: 50vw 450px;
  background-repeat: no-repeat;
  height: 450px;
  width: 50vw;
  color: black;
}

#cr3:hover {
  background-image: url(photos/cr6.png);
  background-size: 50vw 450px;
  background-repeat: no-repeat;
  height: 450px;
  color: black;
}
#cr4:hover {
  background-image: url(photos/cr4.png);
  background-size: 50vw 450px;
  background-repeat: no-repeat;
  height: 450px;
  color: black;
}
#cr5:hover {
  background-image: url(photos/cr5.png);
  background-size: 50vw 450px;
  background-repeat: no-repeat;
  height: 450px;
  color: black;
}
#cr6:hover {
  background-image: url(photos/cr8.png);
  background-size: 50vw 450px;
  background-repeat: no-repeat;
  height: 450px;
  color: black;
}
#cr7:hover {
  background-image: url(photos/cr2.png);
  background-size: 50vw 450px;
  background-repeat: no-repeat;
  height: 450px;
  color: black;
}
#cr8:hover {
  background-image: url(photos/cr1.png);
  background-size: 50vw 450px;
  background-repeat: no-repeat;
  height: 450px;
  color: black;
}
/* cartificate section ends  */

/* style for project section */
.projectsection {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 30px 0px;
}
.project {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(32, 39, 47);
  flex-wrap: wrap;
  margin: 20px;
}

.list-active {
  transform: translateY(-1rem);
}

.project-container  {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
}

.project-box {
  position: relative;
  width: 300px;
  padding: 15px;
  border: 2px solid rgba(21, 25, 31, 0.432);
  margin: 20px;
  height: 500px;
  background-color: var(--headline);
  border-radius: 12px;
  
 
}


.project-box img {
  width: 180px;
  height: auto;
  overflow: hidden;
  border-radius: 5px;
  padding: 4px 60px;
 
}
.content{
  padding: 13px;
}
.content h3{
  text-decoration: underline #bea807;
}
.content p{
font-size: 17px;
}
.cap{
  padding: 20px 40px;
}
.cap span{
  border: 2px solid white;
  padding: 8px;
  border-radius: 7px;
}
.cap a{
  text-decoration: none;
  color:var(--text);
}
.cap a:hover{
  color: var(--highlight);
}
/* project section ends */

/* style for contact section */

.fivethsection{
 min-height: 100vh;
}
.cont{
  display: flex;
  justify-content: center;
  margin: 60px 40px ;
  padding: 80px;
}

.cont h3{
  text-align: center;
  font-size: 37px;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.contactinfo {
  display: inline;
  font-size: 20px;
  justify-content: center;
 margin-top: 150px;
}

.contactfrom {
  justify-content: center;
  align-items: center;
  display: inline;
}
.contactfrom .text-box{
  width: calc(50% - 10px);
  height: 40px;
  background-color:rgba(21, 25, 31, 0.919) ;
  color: var(--text);
  border: none;
 font-size: 15px;
 border-radius: 7px;
 margin-bottom: 20px;
}
.contactfrom textarea{
  background-color:rgba(21, 25, 31, 0.919)  ;
  color:var(--text);
  border: none;
  width: 100%;
  padding: 15px;
  font-size: 15px;
  min-height: 200px;
  max-height: 400px;
  resize: vertical;
  border-radius: 7px;
  margin-bottom: 20px;

}

.contactfrom .submit{
  float: right;
  background-color: #2e94e3;
  color: var(--text);
  border: none;
  width: 120px;
  height: 40px;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 7px;
 cursor: pointer;

}
/* css for alrat message */
.alert-succes{
  z-index: 1;
  background-color: #d4edda;
  font-size: 20px;
  padding: 20px 40px;
  min-width: 420px;
  position: fixed;
  right: 0;
  top: 10px;
  border-radius: 5px;
  border-left:9px solid #3ad66e ;
  color: black;

}
.alert-error{
  z-index: 1;
  background-color: #fff3cd;
  font-size: 20px;
  padding: 20px 40px;
  min-width: 420px;
  position: fixed;
  right: 0;
  top: 10px;
  border-radius: 5px;
  border-left:9px solid #ffa502 ;
  color: black;

}


/* contact sention ends */
/* footer */
.footer {
  background-color: var(--headline);
  padding: 70px 90px;
  box-sizing: border-box;
}

.container{
  max-width: 1170px;
  margin: auto;
  background-color:#2e94e3;
}

.row{
display: flex;
flex-wrap: wrap;
}

ul{
  list-style: none;
}
ul a{
  list-style: none;
  text-decoration: none;
  color:var(--text);
}

.footer-col{
  width: 30%;
  padding: 0 15px;
}
.footer-col h4{
  font-size: 18px;
  color: var(--highlight);
  text-transform: capitalize;
  margin-bottom: 30px;
  font-weight: 500;
  position: relative;
}

.footer-col h4::before{
content: '';
position: absolute;
left: 0;
bottom: -10px;
background-color:var(--highlight) ;
height: 2px;
box-sizing: border-box;
width: 50%;
}

.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}

.footer-col ul li a{
  font-size: 16px;
  text-transform: capitalize;
  color:rgb(255, 255, 255);
  text-decoration: none;
  font-weight: 300;
  display: block;
  transition: all 0.3s ease;
}

.footer-col ul li a:hover{
  color: var(--text);
  padding-left: 8px;
}
/* footer end */

/* reponcive style */

/* /for nav bar */
@media screen and (max-width:800) {
  .left {
    font-size: 0.9rem;
    font-weight: bold;
  }
  
  
  nav ul li {
    list-style: none;
    margin: 0 13px;
  }
  
  
  nav ul li a:hover {
    color: var(--highlight);
    font-size: 0.9rem;
  }
  
}
/* for home */
@media  screen and (max-width:1000px){
  .firstsection{
    box-sizing: border-box;
    background-image: url(photos/bg.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 30px;
    border-radius: 10px 10px;
    backface-visibility: 0.2;
  }
  
  .rightSection{
    display: none;
  }
  .firstsection > div {
    width: 50%;
  }
  .leftSection{
    margin: 40px;
    padding: auto;
    background-color: rgba(17, 17, 17, 0.452);
  }
}
@media  screen and (max-width:600px){
  .leftSection {
    font-size: 1.8rem;
    border-radius: 40px;
    margin: 70px 0;
    width: 70vw;
  
}
.firstsection > div {
  width: 80%;
}
.btn {
  background-color: var(--headline);
  border-radius: 7px;
  border: 2px solid var(--text);
  color:var(--text);
  padding: 6px 17px;
  cursor: pointer;
  font-size: 12px;
  margin: 5px;
}
.btn a:hover {
  color:var(--highlight);
  font-size: 14px;
}
.btn:hover {
  color:var(--highlight);
  font-size: 14px;
}
}
/* for about me  */
@media  screen and (max-width:1000px){
  .about .content1 {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-gap: 70px;
    grid-template-areas:
      "imageSect  skillSect"
      "infoSect infoSect ";
  }
  .info p {
    font-size: 18px;
    line-height: 1.2;
    text-align: start;
    padding-bottom: 8px;
  }
  .skillsection {
   display: inline-block;
   height:fit-content;
  }
  .skillsection .subject {
    font-size: 17px;
    font-weight: bold;
    color: var(--highlight);
    padding-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: left;
    margin: 10px;
  }
}
@media  screen and (max-width:800px){
  .about .content1{
    display: flex;
    flex-direction: column;
  }
  .imgsection{
    justify-items: center;
    box-sizing: border-box;
  }
  
  .imgsection img {
    width: 50vw;
    height: auto;
    object-fit: cover;
    margin: 70px;
  }
}
/* for cartificates */
@media  screen and (max-width:900px) {
   #cr1:hover {
   height: 250px;
   background-size: cover;
  }
  #cr2:hover {
    height: 250px;
    background-size: cover;
   }
   #cr3:hover {
    height: 250px;
    background-size: cover;
   }
   #cr4:hover {
    height: 250px;
    background-size: cover;
   }
   #cr5:hover {
    height: 250px;
    background-size: cover;
   }
   #cr6:hover {
    height: 250px;
    background-size: cover;
   }
   #cr7:hover {
    height: 250px;
    background-size: cover;
   }
   #cr8:hover {
    height: 250px;
    background-size: cover;
   }
   @media  screen and (max-width:500px){
    #cr1:hover {
      height: 150px;
      background-size: cover;
     }
     #cr2:hover {
       height: 150px;
       background-size: cover;
      }
      #cr3:hover {
       height: 150px;
       background-size: cover;
      }
      #cr4:hover {
       height: 150px;
       background-size: cover;
      }
      #cr5:hover {
       height: 150px;
       background-size: cover;
      }
      #cr6:hover {
       height: 150px;
       background-size: cover;
      }
      #cr7:hover {
       height: 150px;
       background-size: cover;
      }
      #cr8:hover {
       height: 150px;
       background-size: cover;
      }
   }
}
/* for projects */

@media screen and (max-width:950px) {

  .project-box {
  position: relative;
  width: 250px;
  padding: 5px;
  border: 2px solid rgba(21, 25, 31, 0.432);
  margin: 10px;
  height: 300px;
  background-color: var(--headline);
  border-radius: 12px;
}
.content  p{
  display: none;
  }
  .content h3{
    font-size: 18px;
  }

  .project-box img {
    width: 140px;
    height: auto;
    overflow: hidden;
    border-radius: 5px;
    padding: 20px 55px;
   
  }
  
  .cap span{
    border: 2px solid white;
    border-radius: 3.5px;
    font-size: 13px;
  }

  .cap{
    padding: 10px 20px;
  }
}

/* for contact */  
@media screen and (max-width: 950px) {
  .cont{
    flex-direction: column;
  }

  .contactinfo, .contactfrom{
    margin: 30px 50px;
  } 

  .contactfrom h3{
    font-size: 20px;
  }

  .contactfrom .text-box{
    width: 100%;
  }

  .cont{
    display: flex;
    justify-content: center;
    margin: 30px 20px ;
    padding: 40px;
  }

  .contactfrom .submit{
    float: right;
    background-color: #2e94e3;
    color: var(--text);
    border: none;
    width: 90px;
    height: 40px;
    font-size: 12px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-radius: 7px;
   cursor: pointer;
  
  }
}
/* for footer */

@media  screen and (max-width:950px) {
  .footer{
    padding: 50px;
  }
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  } 
}

@media  screen and (max-width:590px) {
  .footer-col{
    width: 100%;
    
  } 
}
